<%# My bookings page needs to associate with each unique user. Use the user id %>

<%# It is not a page to see all the posted items of the user,
just the items that were booked from other people. %>

<%#   %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My bookings</h1>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%= booking.item.title %></li>
      <li><%= booking.item.description %></li>
      <li><%= booking.item.price %></li>
    <% end %>

  </ul>

</body>
</html>
