<%# My bookings page needs to associate with each unique user. Use the user id %>

<%# It is not a page to see all the posted items of the user,
just the items that were booked from other people. %>

<%#   %>
<% booked = ["#{@booking}"] %>
<h1>My bookings</h1>

<%= booked.each %>
