<h1>My items</h1>
<ul>
  <li>
    <% @items.each do |item| %>
      <li><%= item.title %></li>
      <!--li><%= item.description %></li-->
      <li><%= item.price %></li>
    <% end %>
  </li>
</ul>
