<div class="banner">
  <div class="container">
    <h1>My lendables</h1>
    <p>List of items I’m currently offering out to others.</p>
  </div>
</div>
<ul>
  <li>
    <% @items.each do |item| %>
      <li><%= item.title %></li>
      <!--li><%= item.description %></li-->
      <li><%= item.price %></li>
    <% end %>
  </li>
</ul>
