<div class="container">
  <div class="card-top-container">
    <h2>Request to book</h2>
  </div>

  <%= simple_form_for [@item, @booking], html: { class: "custom-form" } do |f| %>
    <div class="custom-date-field">
      <div class="form-row">
        <div class="date-part">
          <%= f.input :booking_date, as: :date, label: "Booking Date" %>
        </div>
      </div>

      <div class="form-row">
        <div class="date-part">
          <%= f.input :return_date, as: :date, label: "Return Date" %>
        </div>
      </div>
      <%= f.button :submit, "Submit Booking",class: "custom-button" %>
    </div>
  <% end %>
</div>
