.banner {

    background-image:
      linear-gradient(rgba(40, 55, 90, 0.5), rgba(40, 55, 90, 0.5)),
      url('https://res.cloudinary.com/diwuyv3c8/image/upload/v1732900819/galen-crout-MvkyyiZy1JQ-unsplash_yrt2qe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Prevent repeating */
    padding: 150px 0;
    color: white;
  }




.banner h1 {
  margin: 0;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 64px;

}

.banner p {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}
