h5 {
  font-weight: 600;
}

.date-part {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px; /* Space below each date part */
  flex-grow: 1; /* Allow the div to grow and fill the space */
}

.custom-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
  background-color: rgb(244, 244, 244);
}

.form-row {
  display: flex;
  width: 100%;
}

/* Form container */
.custom-form {
  width: 100%;
  margin: 0; /* Remove automatic centering */
  padding: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  background-color: #ffffff;
  box-sizing: border-box; /* Ensure padding is included in width */
}


/* Labels */
.custom-label {
  color: #1E1E1E;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 5px;
  display: block;

}


/* Submit button */
.custom-button {
  background-color: #007bff;
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}
